@use "../abstract" as *;

canvas {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: -1;
	pointer-events: none;
}

.section {
	position: relative;
	margin: 25vh 0;
	padding: 3.5rem 0;
	background-color: rgba($color: #000, $alpha: 0.6);
	backdrop-filter: blur(8px);

	.container {
		max-width: 50%;
	}

	&__title {
		font-size: 2rem;
		font-weight: 500;
		line-height: 1.2;
		margin-bottom: 1.75rem;
	}

	&__subtitle {
		font-size: 1.5rem;
		line-height: 1.2;
		margin-bottom: 1rem;
	}

	&__text {
		font-size: 1rem;
		line-height: 1.5;
		margin-bottom: 1.25rem;
	}

	&__cta {
		display: flex;
		align-items: center;
		gap: 1rem;
		margin-bottom: 1.25rem;
	}

	&__tagline {
		font-size: 0.875rem;
		line-height: 1.5;
		margin-bottom: 1rem;
	}

	&__image {
		width: 100%;
		max-width: 100%;
		height: auto;
		border-radius: 10px;
		margin-bottom: 1rem;
	}
}

.tutorial {
	&__section {
		&:not(:last-child) {
			margin-bottom: 2rem;
		}
	}

	&__title {
		font-size: 1.5rem;
		font-weight: 500;
		line-height: 1.2;
		margin-bottom: 1.75rem;
	}

	&__paragraph {
		font-size: 1rem;
		line-height: 1.5;

		&:not(:last-child) {
			margin-bottom: 1.25rem;
		}
	}

	&__code {
		background-color: #1e1e1e;
		color: #e5e5e5;
		font-family: "Fira Code", monospace;
		font-size: 0.9rem;
		padding: 0 1rem;
		border-radius: 6px;
	}

	&__img {
		width: 100%;
		border-radius: 0.5rem;
		&:not(:last-child) {
			margin-bottom: 1.5rem;
		}
	}

	&__list {
		padding-left: 1.5rem;
		list-style: disc;

		li {
			margin-bottom: 0.5rem;
		}

		&:not(:last-child) {
			margin-bottom: 1.25rem;
		}
	}
}
