@use "../abstract" as *;

.panel-container {
	display: flex;
	height: content-height();
	width: 100%;
	overflow: hidden;
}

.panel {
	height: 100%;
	overflow: auto;
	// background-color: #f9f9f9;
	padding: 1rem;
	border: 1px solid #0f141b;
}

.panel-divider {
	all: unset;
	width: 5px;
	background-color: #161616;
	cursor: col-resize;
	user-select: none;
	height: 100%;
	display: block;
	transition: background-color $transition-duration $transition-ease;

	&:hover {
		background-color: #252525;
	}
}
