@use "../abstract" as *;

.panel-container {
	display: flex;
	height: content-height();
	width: 100%;
	overflow: hidden;

	.game-section {

		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.5rem;

		.game-container {
			width: min(70vw, 70vh);
			aspect-ratio: 1 / 1;
			margin: 0 auto;
		}
	
		.game {
			display: block;
			border: none;
			width: 100%;
			height: 100%;
		}

		.game-info {
			width: 80%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0 0.5rem;

			.level-name {
				font-weight: bold;
				font-size: 1rem;
			}

			.game-buttons {
				display: flex;
				gap: 0.5rem;
			}

			button {
				display: flex;
				align-items: center;
				gap: 0.3rem;

				.icon {
					font-size: 1.1rem;
				}
			}
		}
	}

}

.panel {
	height: 100%;
	overflow: auto;
	// background-color: #f9f9f9;
	padding: 1rem;
	border: 1px solid #0f141b;
}

.panel-divider {
	all: unset;
	width: 5px;
	background-color: #161616;
	cursor: col-resize;
	user-select: none;
	height: 100%;
	display: block;
	transition: background-color $transition-duration $transition-ease;

	&:hover {
		background-color: #252525;
	}
}
