@use "../abstract" as *;

.tabs {
	display: flex;
	flex-direction: column;
	border-radius: 0.5rem;
	overflow: hidden;
	background-color: $background-color;
	color: $text-color;

	&--horizontal {
		.tabs__list {
			flex-direction: row;
			border-bottom: 1px solid $border-color;

			.tab {
				border-bottom: 2px solid transparent;
				border-right: none;

				&[aria-selected="true"] {
					border-color: $tertiary-color;
				}
			}
		}
	}

	&--vertical {
		flex-direction: row;

		.tabs__list {
			flex-direction: column;
			border-right: 1px solid $quaternary-color;
			border-bottom: none;

			.tab {
				border-right: 2px solid transparent;
				border-bottom: none;

				&[aria-selected="true"] {
					border-color: $quaternary-color;
				}
			}
		}
	}

	&__list {
		display: flex;
		background-color: $surface-color;
	}

	.tab {
		background: none;
		border: none;
		color: $text-color;
		padding: 1rem 1.5rem;
		cursor: pointer;
		font-weight: 500;
		transition: background-color 0.2s ease;

		&:hover {
			background-color: $hover-color;
		}

		&[aria-selected="true"] {
			background-color: $selected-tab-bg;
		}
	}

	&__panel {
		padding: 1rem 1.5rem;
		flex: 1;
		background-color: $background-color;
		color: $text-color;
		max-height: 800px;
		overflow-y: scroll;
	}
}
