// Colors
$background-color: #282a36;
$background-color-darker: #17181f;
$text-color: #e8eaeb;
$primary-color: #ff6ac1;
$secondary-color: #ff9f43;
$tertiary-color: #5af78e;
$quaternary-color: #57c7ff;
$comment-color: #78787e;

$btn-loading-color: #6c757d;
$btn-disabled-color: #949ca3;

// Typography
$font-family: "Poppins", sans-serif;
$header-height: 4.5rem;

// Borders
$border-thickness: 1px;
$border-style: solid;
$border-color: #e0e0e0;
$default-border: $border-thickness $border-style $border-color;

// Font Sizes and Line Heights
$font-size-small: 0.875rem;
$font-size-medium: 1rem;
$font-size-large: 1.25rem;

$line-height-small: 1.4;
$line-height-normal: 1.6;

// Transition and Animation
$transition-duration: 0.2s;
$transition-ease: ease-in-out;

// Z-Index Values
$z-index-dropdown: 1000;
$z-index-modal: 1050;
$z-index-tooltip: 1500;

// Others
$image-path: "../images/";
$border-radius: 0.625rem;
$section-padding: 2rem;
$section-padding-sm: 1.5rem;
