@use "../abstract" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: $background-color;
	color: $text-color;
	scroll-behavior: smooth !important;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

p {
	margin: 0;
}

.container {
	max-width: 1440px;
	padding: 0 2rem;
	margin: 0 auto;
}
