@use "../abstract" as *;

@font-face {
	font-family: "JetBrainsMono";
	src: url("/JetBrainsMono-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: $font-family;
	font-size: 1rem;
	font-weight: normal;
	line-height: 1.5;
	color: var(--text-color);
}
